/* Reset some default styles */
body,h1, h2, h3,  ul, li{
    margin: 0;
    padding: 0;
    color: rgb(85, 7, 202);
}
.all{
    background-color: rgb(206, 223, 228);

    color: black;
}
p{
    margin: 8px;
    padding:8px;
    color:black;
    text-align: center;
    border: black;
}
.button {
    background-color: rgb(17, 17, 116);
}

div{
    margin: 0;
    padding: 0;
    color:white;
    text-align: center;
    height: auto;
    width: auto;
    
}
.colo{
    color: azure;
    text-align: right;
    margin:auto;
    padding: auto;
    background-color: #1e98b9;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #9ed1eb;
    color: rgba(18, 19, 18, 0.699);
}

header {
    background-color: #333333;
    color: #c29e9e;
    padding: 1rem;
    text-align: center;
}

main {
   
    margin:8%;
    padding: 2rem;
   background-color: rgb(206, 234, 234); 
}

.pricing-options {
    display: flex;
    justify-content: space-around;
    
}

.option {
    background-color: hsl(218, 27%, 84%);
color: #0ce313;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin:3%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.option:hover {
    transform: scale(1.15);
}

.option button {
    margin-top: 1rem;
    background-color: #1238b4;
    color: #eee8f4;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.customization-form {
    margin-top: 2rem;
    text-align: center;
}

.price{
color: #431e98;

}
.customization-form label,.customization-form input {
    display: block;
    margin-bottom: 1rem;
    color: rgb(1, 1, 10);
    text-align: left;


}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .pricing-options {
        flex-direction: column;
        align-items: center;
        color: chartreuse;
    }

    .customization-form {
        max-width: 80%;
        margin: 2rem auto;
        color: chocolate;
    }
}
footer{
    background-color: rgb(26, 142, 209);
    color: #e0d6d6;

    width: auto;
    text-align: center;
 
}

