/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #561ec7;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  main {
    padding: 20px;
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-image {
    flex: 1;
    margin-right: 20px;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-details {
    flex: 2;
    margin-top: 99px;
    margin-left: 30%;
  
  }
  
  .description {
    margin-bottom: 20px;
  }
  
  .price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }
  
  .cta-button {
    display: block;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease; 
   
  }
  
  .cta-button:hover {
    background-color: #45a049;
  }
  
  footer {
    background-color: #561ec7;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  footer nav ul {
    list-style-type: none;
  }
  
  footer nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  footer nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  h{
    color: green;
    border: #333;
    border-radius: 20%;
  }
  .cl img{
   margin: 20px;
  
    height: 500px;
    width: 320px;
  }
  .cl-container {
    display: flex;
    flex-wrap: wrap;
  }
 
  
 
  p{
text-align: center;
  }
 .bo{
    margin-bottom: 2px;
    height: auto;
    width: auto;
 }
  /* Media Queries for Responsive Design */
  @media screen and (max-width: 768px) {
    .product-container {
      flex-direction: column;
    }
    .product-image {
      margin-right: 0;
    }
  }
  